{% extends "layout.html" %}

{% block title %}
Web Scraping App | Sociality.io
{% endblock title %}

{% block body %}
{% from "partials/formhelpers.html" import render_field %}
<div class="container py-5">
    <header class="text-center mb-5">

        <form method="POST" class="ui form">
            <div class="field">
                <div class="two fields">
                    <div class="field" style="width: 87%;">
                        {{ render_field(form.productLink, class="form-control",placeholder="Product Link from Etsy") }}
                        <!-- <input type="text" name="product-link" placeholder="Product Link from Etsy"> -->
                    </div>
                    <div class="field" style="width: 13%;">
                        <button class="ui button" type="submit">Add Product</button>
                    </div>
                </div>

                {% include "partials/messages.html" %}
            </div>

        </form>
    </header>


    <h2 class="font-weight-bold mb-2">All Products</h2>

    {%if products %}
    <p class="font-italic text-muted mb-4">You can see product details by clicking on the product image or the product
        title.</p>
    {%else%}
    <p class="font-italic text-muted mb-4">It seems that you have no product. Add products using the form field above.
    </p>
    {%endif%}

    <div class="row pb-5 mb-4">

        {%if products %}
        {% for product in products %}
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" style="margin-bottom: 30px !important;">
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><a href="/product/{{product.id}}"><img src="{{product.image}}" alt=""
                            class="img-fluid d-block mx-auto mb-3"></a>
                    <h5> <a href="/product/{{product.id}}" class="text-dark">{{product.name[0:40]}}</a></h5>
                    <p class="small text-muted font-italic">
                        {{product.description[0:60]}}...
                    </p>
                    <h5>{{product.price}} {{product.price_symbol}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}




    </div>
</div>
</div>
</div>

{% endblock body %}